@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@import "tailwindcss";

@theme{
    --font-orbitron: Orbitron;
}
@theme {
  --breakpoint-3xs:300px;
  --breakpoint-2xs: 400px;
  --breakpoint-xs: 500px;
  --breakpoint-md1: 800px;
  --breakpoint-md2: 900px;
  --breakpoint-3xl: 1400px;
}


.navigation-grid{
  @apply flex justify-center items-center;
}
.navigation-clue {
  @apply font-orbitron font-semibold text-[#292421];
}
.navigation-name{
  @apply font-orbitron font-black text-[#CFCBC9];
}
body{
  background-color: #292421;
}

/*hover effects*/
.navigation-hover-effects{
  @apply hover:scale-110 hover:shadow-lg transition-all duration-300 ease-in-out cursor-pointer;
}
.icons-effects{
  @apply hover:scale-110 transition-all duration-300 ease-in-out;
}